$color-main-accent: rgb(51, 102, 153);

$quote-accent: $color-main-accent;
$quote-inline-padding: 1rem;

$content-width: 75ch;
$inline-padding: 2rem;
$block-margin: 1.5rem;


// breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;