
html {
    font-family: system-ui, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.primary-header {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    .primary-header {
        grid-template-columns: 1fr 1fr;
    }
}

.site__logo {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 1.5rem;
    text-decoration: none;
}

.site__nav {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.site__nav a {
    text-decoration: none;
}

.container {
    margin-block: 1.5rem;
    margin-inline: auto;
    padding: 1rem;
    width: min(100% - 2rem, 75ch);
}

.primary-footer {
    display: grid;
    font-size: 0.9rem;
    justify-items: center;
    padding: 0.5rem 1rem;
}



h1,
h2,
h3,
h4 {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 1.25;
    margin-block-end: 0.25rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}


p {
    margin-block: 0.75rem;
}
